<h1>Create a New Screening</h1>
<p class="alert alert-info">Please fill all the fields to create new booking.</p>
<%= form_with(model: @screening, url: screenings_create_path) do |form| %>
  <%= render 'shared/error_messages',object: @screening%>
  <div>
    <%= form.label :cinema_id %>
    <%= form.collection_select :cinema_id, @cinemas, :id, :name, prompt: true %>
  </div>

  <div>
    <%= form.label :movie_id %>
    <%= form.collection_select :movie_id, @movies, :id, :title, prompt: true %>
  </div>

  <div>
    <%= form.label :date %>
    <%= form.date_field :date %>
  </div>

  <div>
    <%= form.label :time_slot %>
    <%= form.select :time_slot, Screening.time_slots.keys, prompt: true %>
  </div>

  <div>
    <%= form.submit "Create Screening" %>
  </div>
<% end %>