<% provide(:title, custom_title('Movies')) %>
<div class="container">
<h1>Movie</h1>
<% if admin? %>
<%= link_to 'New Movie', new_movie_path, class: 'btn btn-primary' %>
<% end %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Movie Name</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @all_movies.each do |movie| %>
        <tr>
          <td><%= movie.title %></td>
          <td><%= movie.description %> </td>
          <td>
            <%= link_to 'View', movie_path(movie), class: 'btn btn-success' %>
            <% if admin? %>
            <%= link_to 'Edit', edit_movie_path(movie), class: 'btn btn-warning' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= paginate @all_movies %>