<% provide(:title, 'New Movie') %>
<div class="container-fluid h-custom">
  <div class="row d-flex justify-content-center align-items-center h-100">

    <h1>New Movie</h1>

    <% if false %>
      <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
        <p class="login_text lead fw-normal mb-0 me-3"></p>
      </div>
    <% end %>

    <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <%= form_for(@movie) do |f| %>
          <%= render 'shared/error_messages', object: @movie %>

          <div class="row mb-4">
            <%= f.label :title, class: 'col-sm-4 col-form-label' %>
            <div class="col-sm-8">
              <%= f.text_field :title, class: 'form-control', placeholder: '' %>
            </div>
          </div>

          <div class="row mb-4">
            <%= f.label :description, class: 'col-sm-4 col-form-label' %>
            <div class="col-sm-8">
              <%= f.text_area :description, class: 'form-control', placeholder: '' %>
            </div>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" id="submit-create-movie" class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;">Create new movie</button>
          </div>
        <% end %>
    </div>

    <div class="col-md-9 col-lg-6 col-xl-5">
      <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid" alt="Login to MovieMagic">
    </div>

  </div>
</div>