<% provide(:title, custom_title('Bookings')) %>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Cinema Name</th>
      <th>Movie Name</th>
      <th>Users' Full Name</th>
      <th>Date</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody>
    <% @booking.each do |book|%>
    <tr>
      <td><%= book.cinema.name %></td>
      <td><%= book.movie.name %></td>
      <td><%= book.user.full_name %>
      <td><%= book.date %></td>
      <td><%= book.time %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @booking %>