<% provide(:title, custom_title('Cinemas')) %>
<div class="container">
  <h1>Cinemas</h1>
    <% if admin?  %>
    <%= link_to 'New Cinema', new_cinema_path, class: 'btn btn-primary' %>
    <% end %>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Created At</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @cinemas.each do |cinema| %>
        <tr>
          <td><%= cinema.name %></td>
          <td><%= cinema.created_at.to_formatted_s(:short) %></td>
          <td>
            <%= link_to 'View', cinema_path(cinema), class: 'btn btn-success' %>
            <% if admin? %>
            <%= link_to 'Edit', edit_cinema_path(cinema), class: 'btn btn-warning' %>
            <% end %>
          </td>
        </tr>
        <% end %>
      <tbody>
    </table>
  <%= paginate @cinemas %>
</div>